body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

th {
    color: red;
    padding: 1rem;
    border: 2px solid black;
}

td {
    padding: 1rem;
    border: 2px black solid;
}